@use "base" as *;

.main {
  display: grid;
  place-items: center;
  background-color: $color-background;
  height: 100vh;
  width: 100%;

  &__container {
    border-radius: 30px;
    background-color: $color-secondary;
    width: 350px;
    padding: 30px;
    overflow: hidden;

    &-rating-view {
      display: flex;
      flex-direction: column;
      gap: 25px;
    }
  }
}

.rating {
  &__title {
    font-size: 24px;
    font-weight: 600;
    color: $color-white;
  }

  &__content {
    font-size: 13px;
    color: $color-light-gray;
  }

  &__stars {
    display: flex;
    justify-content: space-between;
  }

  &__star,
  &__icon {
    display: grid;
    place-items: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: $color-secondary-light;
    color: $color-light-gray;

    & > i {
      font-size: 15px;
      color: $color-primary;
    }
  }

  &__star {
    cursor: pointer;

    &:hover {
      background-color: $color-primary;
      color: $color-white;
    }

    &--active {
      background-color: $color-tertiary !important;
      color: $color-white;
    }
  }

  &__btn {
    display: grid;
    place-items: center;
    text-transform: uppercase;
    padding: 10px 0;
    border-radius: 200px;
    background-color: $color-primary;
    color: $color-white;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;

    &:hover {
      color: $color-primary;
      background-color: $color-white;
    }
  }
}
